<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    <script>
      var socket = io("https://socketv2.mscapi.live:3005", {
    //   var socket = io("http://localhost:3005", {
        transports: ["websocket"],
      });

      socket.on("connect", function () {
        console.log("connected");
      });

      socket.emit("monthly_audit_email");

    </script>
  </body>
</html>
